@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
 <h2> uq   </h2>      
    <div>
        <li>
           <!-- Html.ActionLink("Clients", "Ui", "Swagger");   --> 
            <a href="/Swagger">API</a> 
        </li>
    </div>
</body>
</html>
